body {
  font-family: Arial;
  background: linear-gradient(135deg, #e0e7ff, #fce7f3);
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin: 0;
  transition: 0.3s;
}

.dark {
  background: #111827;
  color: white;
}

.container {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.dark .container {
  background: #1f2937;
}

h1 {
  text-align: center;
  font-size: 26px;
}

.progress {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-weight: bold;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: #c4b5fd;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  background: #eef2ff;
  padding: 10px;
  border-radius: 10px;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid purple;
  cursor: pointer;
}

.checkbox.checked {
  background: purple;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  margin-left: auto;
  cursor: pointer;
  color: red;
}

.dark-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
